* {
  font-family: Inter, Arial, sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(5,0,5);
  color: white;
}

header {
  background-color: rgb(20, 87, 181);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
}

nav {
  width: 50%;
  height: 90%;
  max-width: 300px;
  
}

nav > ul{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin: 10 0 10 0;
}

nav > ul > li {
  color: white;
  display: block;
  padding: 0.2rem;
  margin: 0 0.2rem;
}

nav > ul > li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

#img-div {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}

#title {
  text-align: center;
  font-size: 32px;
}

#img-caption {
  margin-top: -20px;
}


#img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.sec {
  width: 100%;
  height: 100%;
  padding: 10 10 0 10;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

.page-title {
  display: flex;
  align-self: flex-start;
  margin: 40 auto;
  font-size: 3vw;
}

.content {
  width: 93%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 25 10;
  box-sizing: border-box;

}

.page-image {
  display: flex;
  width: 50%;
  min-width: 300px;
  height: 100%;
  margin:  0px 20px;
}

img {
  width: 100%;
  min-width: 400px;
  height: 100%;
  object-fit: cover;
  padding: 10;
}

.description {
  width: 35%;
  min-width: 200px;
  height: 90%;
  display: flex;
  align-items: center;
  padding: 10;
  font-size: 1.4em;
}

.description > ul > li {
  border-bottom: 2.5px solid black;
  list-style-type: none;
  margin: 20px 0;
  padding: 10px;
}

.description li:last-child {
  border: none;
}

#tribute-link {
  text-decoration: none;
  color: blue;
  margin: 20 0 10 0;
}

#tribute-link:hover {
  color: red;
  cursor: pointer;
}